@model Cafeteria.Models.Cafe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cafe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descafeinado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descafeinado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tamanho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tamanho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.acucar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.acucar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.com_leite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.com_leite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cafeid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
