@model IEnumerable<Cafeteria.Models.Cafe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descafeinado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tamanho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acucar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.com_leite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descafeinado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamanho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.acucar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.com_leite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cafeid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Cafeid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Cafeid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
