@model Chocolateria.Models.Chocolate

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar Chocolate</h1>

<h3 color:="" red="" style=" color:  red; "> Tem certeza que deseja deletar isto?</h3>
<div>
    <h4>Chocolate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_Chocolate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_Chocolate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade_Disponivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade_Disponivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso_Chocolate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso_Chocolate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca_Chocolate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca_Chocolate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porcentagem_Cacau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porcentagem_Cacau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_Chocolate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_Chocolate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Validade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Validade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cupom_Desconto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cupom_Desconto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_Chocolate" />
        <input type="submit" value="Delete" class="btn btn-danger btn-lg" /> |
        <br> <br> <a asp-action="AreaRestrita" class="btn btn-secondary">Voltar a Lista</a>
    </form>
</div>
