@model MoveisPlanejados.Models.Movel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Movel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Movel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Movel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cor_Movel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cor_Movel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medidas_Movel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medidas_Movel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material_Movel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material_Movel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_Movel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_Movel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem_Movel)
        </dt>
        <dd class = "col-sm-10">
            @{
            ViewBag.Imagem_Movel = @Html.DisplayFor(model => model.Imagem_Movel);
            <img src ="@ViewBag.Imagem_Movel" alt = "Imagem do Movel"> 
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status_Movel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status_Movel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Nome_Funcionario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Movel" class="btn btn-warning btn-lg" >Editar</a> |
    <br> <br> <a asp-controller="Moveis" asp-action="AreaRestrita" class="btn btn-secondary">Voltar a Lista</a>
</div>
